// Use Gray 10 as the global theme.
@import "@carbon/themes/scss/themes";
$carbon--theme: $carbon--theme--g10;
@include carbon--theme();

// To optimize, see https://medium.com/carbondesign/minimal-css-with-carbon-b0c089ccfa71
@import "carbon-components/scss/globals/scss/styles.scss";

//change button color
.bx--btn:disabled, .bx--btn.bx--btn--disabled {
  cursor: not-allowed;
  color: #a7a8aa;
  background: #d9d9d6;
  border-color: #d9d9d6;
}
.bx--btn .bx--btn__icon {
  position: absolute;
  right: 1rem;
  flex-shrink: 0;
  width: 1rem;
  height: 1rem;
}
.bx--btn.bx--btn--disabled > svg.bx--btn__icon, .bx--btn:disabled > svg.bx--btn__icon {
  fill: #a7a8aa;
}

.bx--btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.bx--btn--primary {
  background-color: #007abc;
  border-width: 3px;
  border-style: solid;
  border-color: transparent;
  color: #ffffff;
}
.bx--btn--primary:hover {
  background-color: #0061a0;
}
.bx--btn--primary:focus {
  border-color: #007abc;
  outline-color: #d9d9d6;
}
.bx--btn--primary:disabled:hover, .bx--btn--primary:disabled:focus, .bx--btn--primary:hover.bx--btn--disabled, .bx--btn--primary:focus.bx--btn--disabled {
  color: #8d8d8d;
  background-color: #c6c6c6;
  border-color: #c6c6c6;
  text-decoration: none;
  outline-color: #c6c6c6;
}
.bx--btn--primary:active {
  background-color: #002d9c;
}
.bx--btn--primary .bx--btn__icon,
.bx--btn--primary .bx--btn__icon path {
  fill: currentColor;
}
.bx--btn--primary:hover {
  color: #ffffff;
}

.bx--btn--secondary {
  background-color: #333333;
  border-width: 3px;
  border-style: solid;
  border-color: transparent;
  color: #ffffff;
}
.bx--btn--secondary:hover {
  background-color: #4c4c4c;
}
.bx--btn--secondary:focus {
  border-color: #007abc;
  outline-color: #d9d9d6;
}
.bx--btn--secondary:disabled:hover, .bx--btn--secondary:disabled:focus, .bx--btn--secondary:hover.bx--btn--disabled, .bx--btn--secondary:focus.bx--btn--disabled {
  color: #8d8d8d;
  background-color: #c6c6c6;
  border-color: #c6c6c6;
  text-decoration: none;
  outline-color: #c6c6c6;
}
.bx--btn--secondary:active {
  background-color: #6f6f6f;
}
.bx--btn--secondary .bx--btn__icon,
.bx--btn--secondary .bx--btn__icon path {
  fill: currentColor;
}
.bx--btn--secondary:hover, .bx--btn--secondary:focus {
  color: #ffffff;
}

.bx--btn--tertiary {
  background-color: transparent;
  border-width: 1px;
  border-style: solid;
  border-color: #007abc;
  color: #007abc;
}
.bx--btn--tertiary:hover {
  background-color: #0061a0;
}
.bx--btn--tertiary:focus {
  border-color: #007abc;
  outline-color: #d9d9d6;
}
.bx--btn--tertiary:disabled:hover, .bx--btn--tertiary:disabled:focus, .bx--btn--tertiary:hover.bx--btn--disabled, .bx--btn--tertiary:focus.bx--btn--disabled {
  color: #8d8d8d;
  background-color: #c6c6c6;
  border-color: #c6c6c6;
  text-decoration: none;
  outline-color: #c6c6c6;
}
.bx--btn--tertiary:active {
  background-color: #002d9c;
}
.bx--btn--tertiary .bx--btn__icon,
.bx--btn--tertiary .bx--btn__icon path {
  fill: currentColor;
}
.bx--btn--tertiary:hover {
  color: #ffffff;
}
.bx--btn--tertiary:focus {
  color: #ffffff;
  background-color: #007abc;
}
.bx--btn--tertiary:active {
  color: #ffffff;
}
.bx--btn--tertiary:disabled, .bx--btn--tertiary:hover:disabled, .bx--btn--tertiary:focus:disabled, .bx--btn--tertiary.bx--btn--disabled, .bx--btn--tertiary.bx--btn--disabled:hover, .bx--btn--tertiary.bx--btn--disabled:focus {
  background: transparent;
  color: #c6c6c6;
  outline: none;
}
.bx--btn--tertiary:disabled > .bx--btn__icon path, .bx--btn--tertiary:hover:disabled > .bx--btn__icon path, .bx--btn--tertiary:focus:disabled > .bx--btn__icon path, .bx--btn--tertiary.bx--btn--disabled > .bx--btn__icon path, .bx--btn--tertiary.bx--btn--disabled:hover > .bx--btn__icon path, .bx--btn--tertiary.bx--btn--disabled:focus > .bx--btn__icon path {
  fill: #c6c6c6;
}
.bx--btn--tertiary:hover > .bx--btn__icon path {
  fill: #ffffff;
}

.bx--btn--ghost {
  background-color: transparent;
  border-width: 3px;
  border-style: solid;
  border-color: transparent;
  color: #000000;
  padding: calc(0.875rem - 3px) 12px;
}
.bx--btn--ghost:hover {
  background-color: #e5e5e5;
}
.bx--btn--ghost:focus {
  border-color: #000000;
  outline-color: #d9d9d6;
}
.bx--btn--ghost:disabled:hover, .bx--btn--ghost:disabled:focus, .bx--btn--ghost:hover.bx--btn--disabled, .bx--btn--ghost:focus.bx--btn--disabled {
  color: #8d8d8d;
  background-color: #c6c6c6;
  border-color: #c6c6c6;
  text-decoration: none;
  outline-color: #c6c6c6;
}
.bx--btn--ghost:active {
  background-color: #c6c6c6;
}
.bx--btn--ghost .bx--btn__icon,
.bx--btn--ghost .bx--btn__icon path {
  fill: currentColor;
}
.bx--btn--ghost .bx--btn__icon {
  position: static;
  margin-left: 0.5rem;
}
.bx--btn--ghost:hover, .bx--btn--ghost:active {
  color: #000000;
}
.bx--btn--ghost:hover .bx--btn__icon path, .bx--btn--ghost:active .bx--btn__icon path {
  fill: #000000;
}
.bx--btn--ghost:active {
  background-color: #c6c6c6;
}
.bx--btn--ghost:disabled, .bx--btn--ghost:hover:disabled, .bx--btn--ghost:focus:disabled, .bx--btn--ghost.bx--btn--disabled, .bx--btn--ghost.bx--btn--disabled:hover, .bx--btn--ghost.bx--btn--disabled:focus {
  color: #c6c6c6;
  background: transparent;
  border-color: transparent;
  outline: none;
}
.bx--btn--ghost:disabled .bx--btn__icon path, .bx--btn--ghost:hover:disabled .bx--btn__icon path, .bx--btn--ghost:focus:disabled .bx--btn__icon path, .bx--btn--ghost.bx--btn--disabled .bx--btn__icon path, .bx--btn--ghost.bx--btn--disabled:hover .bx--btn__icon path, .bx--btn--ghost.bx--btn--disabled:focus .bx--btn__icon path {
  fill: #c6c6c6;
}
//tile
.bx--tile {
  position: relative;
  display: block;
  min-width: 40rem;
  min-height: 5rem;
  padding: 1rem;
  background-color: #ffffff;
  outline: 2px solid #d9d9d6;
  outline-offset: -2px;
}
// Make the page background white by default.
body {
  background-color: #ffffff;
}
